<div class="card" id="evernotes">
	<span class="everheader">Agregar Lorem ipsum</span>
	<div id="notes">
		<div id="container">
			<div style="width: 100%; text-align: center; padding-top: 15px; padding-bottom: 15px;">
				<form id="data-form">
					<p>
						<input type="text" name="name" class="large" value="" placeholder="Name" id="name" required="required" />
						<input type="text" name="address" class="login-field" value="" placeholder="Adress" id="address" required="required" />
					</p>
					<button class="btn btn-info btn-large btn-block" id="item-button" type="button">Save</button>
				</form>
			</div>
		</div>
	</div>
</div>